/* * {
  border: 1px solid red;
} */

body {
  font-family: sans-serif;
  margin: 0; 
  max-width: 100vw !important;
  background-color: #f6e9cb;
  color: #6e5b2f;
}

.glide {
  display: grid;
  align-items: center;
  height: 100vh;
}

.glide__slide {
  display: grid;
  height: 100vh;
  align-items: center;
}

ul{
  list-style-type: none;
  padding: 0px;
  height: 100vh;
}

ul li{
  margin-top: 20px;
}

/* li{
} */






form {
  display: grid;
  align-items: center;
  padding: 10%;
}

form input{
  margin: 10%;
}


/* .suggestionsList{
  max-height: 80vh;
  overflow: scroll;
} */