body {
  font-family: sans-serif;
  margin: 0; 
}

.glide {
  display: flex;
  align-items: center;
  width: 100%; 
  height: 100vh; 
}

.glide__track {
  width: 100%; 
  background: #fff2d1;
  overflow: visible !important;

}

.glide__slide {
  text-align: center;
  /* height: 100vh ; /* Set slide height to full viewport height */
  /* line-height: 100vh; Align text vertically in the center  */
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  font-family: "system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"";
  color: #5b5036;
}



form {
  display: flex;
  height: 100vh;
  flex-direction: column; /* Stack form fields vertically */
  align-items: center;
  width: 100%; /* Adjust width as required */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border-radius: 5px;
}

input, button {
  width: 100%; /* Ensure input and button fields take full width */
  margin: 10px 0; /* Space out form elements */
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;

}

form input {
  position: absolute;
  max-width: 50vw;
  margin: 30px;
}

form button {
  background-color: #b6b6b6;
  position: absolute;
  bottom: 30%;
  max-width: 10%;
}

.input1 {
  top: 20%;
}

.input2{
  top:30%
}

.input3{
top: 10%
}

.menu-button{
  display: grid;
  align-items: top;
}
.menu-button button{
  background-color: #b6b6b6;
  position: absolute;
  top: 10%;
  max-width: 10%;
}


.suggestionsList{
  max-height: 80vh;
  overflow: scroll;
}