/* * {
  border: 1px solid red;
} */

body {
  font-family: sans-serif;
  margin: 0; 
  max-width: 100vw !important;
  /* color: #5b5036; */

}

.glide {
  display: grid;
  align-items: center;
  height: 100vh; 
}

.glide__slide {
  display: grid;
  height: 100vh;
  align-items: center;
}

ul{
  list-style-type: none;
  padding: 0px;
  height: 100vh;
}


/* li{
} */






form {
  display: grid;
  align-items: center;
  padding: 10%;
}

form input{
  margin: 10%;
}


/* .suggestionsList{
  max-height: 80vh;
  overflow: scroll;
} */